@tailwind base;
@tailwind components;
@tailwind utilities;

/* dev-only helpers -- BEGIN */
.bo1 {
  outline: 1px dashed deeppink !important;
}
.bo2 {
  outline: 1px dashed rgb(8, 167, 252) !important;
}
.bo3 {
  outline: 1px dashed rgb(255, 204, 0) !important;
}
.bd1 {
  border: 1px solid deeppink !important;
}
.bd2 {
  border: 1px solid rgb(8, 167, 252) !important;
}
.bd3 {
  border: 1px solid rgb(255, 204, 0) !important;
}
/* dev-only helpers -- END */
